@CHARSET "UTF-8";

.forum {
    background-color: #d6e7f6;
    margin: 30px 0;
    padding: 20px;
}

.title {
	font-size: 24px;
}

.topic {
	background-color: #d6e7f6;
	margin: 20px 0 0;
}

.topic-detail {
    background-color: white;
	margin: 10px;
    padding: 0;
}

.newLineOverflow
{
    word-wrap: break-word
}

.post-content {
	background-color: white;
	min-height: 180px
}

.post-btn {
	padding: 10px 0;
}

.forum-btn {
	margin: 20px 0;
}

.user-pic {
	margin-top: 15px;
	width: 100px;
	height: 100px;
}

.cards {
	overflow-x: auto;
    white-space: nowrap;
    margin-right: 20px;
    margin-left: 10px;
}

.card {
	width: 275px;
	margin: 0 20px;
	display: inline-block;
    float: none;
    word-wrap:break-word;
    white-space: normal;
}

.dropdown-symptoms {
	margin: 10px 0;
}

.h-card {
	margin-top: 10px;
}